/* general styling */
.header_ {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    /* overflow: hidden; */
}

.page-header {
    /* position: relative; */
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    /* overflow: hidden; */
}

/* background styling */
/* .bg-img{
  width: 100%;
  height: auto;
  filter: blur(5px);
  -webkit-filter: blur(2px);
  z-index: 0;
} */

.page-header {
    background-image: url('../../results/gif_header/input_volume_gif_collage.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
}

/* .overlay{
    display: block;
    background-image: url('../../results/gif_header/input_volume_gif_collage.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    filter: blur(10px);
    -webkit-filter: blur(10px);
} */

.page-header {
    filter: blur(6px);
    -webkit-filter: blur(6px);
}

/* background blur */
/* .page-header:not(.title_text){
    filter: blur(5px);
    -webkit-filter: blur(2px);
} */

/* .title_text{
    position: relative;
    margin-top: -42%;
    margin-bottom: 25%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center; */
    /* background-color: rgb(0,0,0);  /* Fallback color */
    /* background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    /* transform: translate(0%, 50%);
    z-index: 999;
    color: white;
  } */

  .title_text{
    position: absolute;
    top: 50%;
    margin-bottom: 25%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.5); /* Black w/opacity/see-through */
    transform: translate(0%, 50%);
    z-index: 999;
    color: white;
  }

  

