.page-header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    background-image: url('../../results/gif_header/input_volume_gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    /* overflow: hidden; */
  }
  
